# Servidor y API
fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic[email]>=2.6.0

# Base de Datos Relacional 
sqlalchemy>=2.0.0
alembic>=1.13.0
psycopg2-binary>=2.9.0

# Autenticación y Gestión de Usuarios
fastapi-users[sqlalchemy]>=13.0.0
authlib>=1.3.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4

# Inteligencia Artificial y RAG
langchain>=0.1.0
langchain-community>=0.0.10
chromadb>=0.4.22
pymupdf>=1.23.0
sentence-transformers>=2.5.0
google-generativeai>=0.4.0

# Utilidades
python-multipart>=0.0.9
python-dotenv>=1.0.1


# Configuración y Validación de datos
pydantic-settings>=2.2.0